.app{
  background-color:lightblue;
  margin:0;
  padding:0
}

.navbar{
  background:rgb(189, 46, 41);
  margin:0;
  padding:0;
  overflow:hidden;
  top:0;
  width:100%;
}

.navbar a{
  color:rgb(85, 30, 136);
  float:right;
  padding:10px 30px;
  display:block;
  background:green;
}

.navbar a:hover{
  background-color: rgb(44, 182, 74);
}
.navbar a.active{
  background-color: rgb(44, 182, 74);
}

.ui.card .image{
  object-fit:scale-down
}