.navbar{
  background:rgb(189, 46, 41);
  margin:0;
  padding:0;
  overflow:hidden;
  top:0;
  width:100%;
  position:fixed
}

.navli{
  color:rgb(85, 30, 136);
  float:right;
  padding:10px 30px;
  display:block;
  background:green;
}

.navli:hover{
  background-color: rgb(44, 182, 74);
}
.navbar li:active{
  background-color: rgb(44, 182, 74);
}
